{% extends 'gspg_client/base.html' %}
{% load static %}

{% block title %}Panel del Profesor{% endblock %}

{% block extra_css %}
<style>
    .tarjeta-bienvenida {
        background-color: #f9fafb;
        color: #1f2937;
        padding: 1.75rem 1.5rem;
        border-radius: 1rem;
        text-align: center;
    }

    .sigla-gspg {
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        color: var(--color-principal) !important;
        margin-bottom: 0.5rem;
    }

    .texto-bienvenida {
        font-size: 0.875rem;
        color: #374151;
    }

    .bloque {
        background-color: white;
        padding: 1.5rem;
        border-radius: 1rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    }

    .boton-grupo {
        display: block;
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        background-color: var(--color-principal) !important;
        color: white;
        font-weight: 600;
        text-align: center;
        border-radius: 0.75rem;
        transition: opacity 0.2s ease;
    }

    .boton-grupo:hover {
        opacity: 0.9;
    }

    .cerrar-sesion {
        display: block;
        text-align: center;
        margin-top: 2rem;
        font-size: 0.875rem;
        color: var(--color-secundario) !important;
        font-weight: 500;
    }

    .cerrar-sesion:hover {
        text-decoration: underline;
    }

    .text_impresion {
        color: var(--color-principal);
    } 
</style>
{% endblock %}

{% block content %}
<div class="space-y-6">
    <!-- Tarjeta de Bienvenida -->
    <div class="tarjeta-bienvenida">
        <div class="sigla-gspg">GSPG -  {{ magister.university }}</div>
        {% if magister %}
        <p class="texto-bienvenida">
            Bienvenido/a {{ profesor.nombre }}
        </p>
        <p class='mt-2 text_impresion'><strong>{{ magister.name }}</strong></p>
        {% endif %}
    </div>

    <!-- Gestión de Grupos -->
    <div class="bloque">
        <h2 class="text-lg font-semibold mb-4 text-gray-700"><i class="fa-solid fa-users-viewfinder"></i> Gestión de Grupos</h2>
        {% for grupo in grupos %}
            <a href="{% url 'gspg_client:gestion_grupo' grupo.id %}" class='boton-grupo'>{{ grupo.nombre }}</a>
     
        {% empty %}
        <p class="text-sm text-gray-500">No tienes grupos asignados aún.</p>
        {% endfor %}

        <!-- Cerrar sesión -->
        <a href="{% url 'gspg_client:logout' %}" class="cerrar-sesion">Cerrar sesión</a>
    </div>

</div>
{% endblock %}
