{% if user.is_authenticated and magisteres_asignados %}
<div class="dropdown me-2">
  <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" id="programDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    {{ user_magister.name }}
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="programDropdown">
    {% for magister in magisteres_asignados %}
      <li>
        <a class="dropdown-item {% if user_magister.id == magister.id %}active{% endif %}"
           href="{% url 'gspg:set_active_programa' magister.id %}">
          {{ magister.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
